/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css);

/* css variable */
:root {

    /* color */
    --white-color: #fff;
    --black-color: #000;
    --light-grey-color: rgb(225, 220, 220);
    /* font */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /* font weight */
    --font-medium: 500;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.lienhe ,.giohang {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.lienhe-top {
    color: var(--white-color);
}

.lienhe-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* background-size: cover;
    background-attachment: fixed; */
}
.lienhe-form {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    color: white;
}
.lienhe-title{
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}
.lienhe-box {
    display: grid;
}
.select{
    width: 199px;
    height: 28px;
}
.hang1,.hang2{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin:20px;
}
.lienhe-cmt{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.lienhe-button{
  display: flex;
  justify-content: center;
  padding: 3px;
  
}
button{
    border: #fff;
    width: 100%;
}

.lienhe-button {
    width: 10%;
    padding: 5px;
    border-radius: 3ps;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-left: 45%;
}
footer{
    padding-top: 70px;
}
.giohang{
    margin-top: -20px;

}
 table{
    margin-top: -150px;
 }