body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #000000;
}

.san-pham-body {

    font: optional;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    font-weight: 300;
    color: black;
    line-height: 1.5;

}

.center-left {
    font-size: 30px;
    font-style: italic;
    color: black;


}

.breadcrumb {
    font-size: 15px;
    font-style: Arial;
    color: white;

}

.center {
    color: white;
    background-color: blue;
    font-size: 70px;
    font-style: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 3px solid blue;
}

#breadcrumb {
    font-size: 15px;
    font-weight: 100;
    color: black;
    background-color: white-space;
    font-style: Arial, Helvetica, sans-serif;


}

#scrollspyHeading {
    font-size: 30px;
    color: blue;
    font-style: normal;
    text-decoration: underline;
}