/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


/* css variable */
:root {

    /* color */
    --white-color: #fff;
    --black-color: #000;
    --light-grey-color: rgb(225, 220, 220);
    /* font */
    --body-font: 'Poppins', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /* font weight */
    --font-medium: 500;
}

/* base */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body,
input,
button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

body {
    color: var(--white-color);
}

input,
button {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* login */

.login,
.signup {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.login-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    /* background-size: cover;
    background-attachment: fixed; */
}

.login-form,
.signup-form {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.login-title,
.signup-title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.login-content,
.signup-content,
.login-box,
.signup-box {
    display: grid;
}

.signup-content {
    grid-template-columns: 1fr 1fr;
    column-gap: 2.5rem;
}

.login-content,
.signup-content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.login-box,
.signup-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .75rem;
    border-bottom: 2px solid var(--white-color);
}

.login-icon,
.signup-icon,
.login-button-icon,
.signup-button-icon,
.password-eye {
    font-size: 1.25rem;
}

.login-input,
.signup-input {
    width: 100%;
    padding-block: .8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.login-box-input,
.signup-box-input {
    position: relative;
}

.login-label,
.signup-label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top .3s, font-size .3s;
}

.password-eye{
    position: absolute;
    right: 0;
    top: 14px;
    z-index: 10;
    cursor: pointer;
}

.login-box:nth-child(2) input,
.signup-box:nth-child(4) input,
.signup-box:nth-child(6) input {
    padding-right: 1.8rem;
}

.login-check,
.signup-check,
.login-check-group,
.signup-check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-check,
.signup-check {
    margin-bottom: 1.5rem;
}

.login-check-label,
.signup-check-label,
.login-forgot,
.login-register {
    font-size: var(--small-font-size);
}

.login-check-group,
.signup-check-group {
    column-gap: 0.5rem;
}

.login-check-input,
.signup-check-input {
    width: 16px;
    height: 16px;
}

.login-forgot,
.signup-license {
    color: var(--white-color);
}

.login-forgot:hover,
.signup-license:hover {
    text-decoration: underline;
}

.login-button,
.signup-button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.login-button:hover,
.signup-button:hover {
    background-color: var(--light-grey-color)
}

.login-register,
.signup-register {
    text-align: center;
}

.login-register a,
.signup-register a {
    color: var(--white-color);
    font-weight: var(--font-medium);
}

.login-register a:hover,
.signup-register a:hover {
    text-decoration: underline;
}

/* input focus move up label*/

.login-input:focus+.login-label,
.signup-input:focus+.signup-label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* input focus sticky top label */

.login-input:not(:placeholder-shown).login-input:not(:focus)+.login-label,
.signup-input:not(:placeholder-shown).signup-input:not(:focus)+.signup-label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* breakpoint */

@media screen and (min-width: 576px) {

    .login,
    .signup {
        justify-content: center;
    }

    .login-form,
    .signup-form {
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
    }

    .login-form {
        width: 432px;
    }

    .signup-form {
        width: 576px;
    }

    .login-title,
    .signup-title {
        font-size: 2rem;
    }
}