/* google font roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


/* css variable */
:root {

    /* color */
    --white-color: #fff;
    --black-color: #000;
    --light-grey-color: rgb(225, 220, 220);
    /* font */
    --body-font: 'Roboto', sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;
    /* font weight */
    --font-medium: 500;
}

/* base */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.toan-main {
    color: var(--white-color);
}

.toan-main,
.toan-main input,
.toan-main button {
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
}

.toan-main input,
.toan-main button {
    border: none;
    outline: none;
}


.toan-main a {
    text-decoration: none;
}

/* login */

.toan-container {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.toan-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.toan-form {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.toan-title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.toan-content,
.toan-signup-content,
.toan-box {
    display: grid;
}

.toan-content,
.toan-signup-content {
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.toan-box {
    grid-template-columns: max-content 1fr;
    align-items: center;
    column-gap: .75rem;
    border-bottom: 2px solid var(--white-color);
}

.toan-icon,
.toan-button-icon,
.toan-password-eye {
    font-size: 1.25rem;
}

.toan-input {
    width: 100%;
    padding-block: .8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
}

.toan-box-input {
    position: relative;
}

.toan-label {
    position: absolute;
    left: 0;
    top: 13px;
    font-weight: var(--font-medium);
    transition: top .3s, font-size .3s;
}

.toan-password-eye {
    position: absolute;
    right: 0;
    top: 14px;
    z-index: 10;
    cursor: pointer;
}

.toan-box:nth-child(even) input {
    padding-right: 1.8rem;
}

.toan-check,
.toan-check-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.toan-check {
    margin-bottom: 1.5rem;
}

.toan-check-label,
.toan-forgot,
.toan-register {
    font-size: var(--small-font-size);
}

.toan-check-group {
    column-gap: 0.5rem;
}

.toan-check-input {
    width: 16px;
    height: 16px;
}

.toan-forgot,
.toan-license {
    color: var(--white-color);
}

.toan-forgot:hover,
.toan-license:hover {
    text-decoration: underline;
}

.toan-button {
    width: 100%;
    padding: 1rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.toan-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toan-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.toan-button:hover {
    background-color: var(--light-grey-color)
}

.toan-register {
    text-align: center;
}

.toan-register a {
    color: var(--white-color);
    font-weight: var(--font-medium);
}

.toan-register a:hover {
    text-decoration: underline;
}

/* input focus move up label*/

.toan-input:focus+.toan-label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* input focus sticky top label */

.toan-input:not(:placeholder-shown).toan-input:not(:focus)+.toan-label {
    top: -12px;
    font-size: var(--small-font-size);
}

/* cart */

.cart-title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
}

.cart {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
}

.cart-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid var(--white-color);
    margin-inline: 2.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
}

.cart-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 1.75rem;
    row-gap: 1.75rem;
    margin-bottom: 1.5rem;
}

.cart-table {
    text-align: center;
}

.cart-table td,
.cart-table th {
    width: max-content;
    margin-inline: 1rem;
}

/* .cart-table table,
.cart-table td,
.cart-table th {
    border: 1px solid white;
    border-collapse: collapse;
} */

.cart-table-item,
.cart-table-purchase {
    width: 100%;
    height: 90%;
}


    
.cart-table-purchase {
    margin-bottom: 1.5rem;
}

.cart-purchase-button {
    width: 50%;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--white-color);
    font-weight: var(--font-medium);
    cursor: pointer;
    margin-bottom: 2rem;
}

.cart-purchase-button:hover {
    background-color: var(--light-grey-color);
}



/* breakpoint */

@media screen and (min-width: 576px) {

    /* login and signup */
    .toan-container {
        justify-content: center;
    }


    .toan-form {
        padding: 4rem 3rem 3.5rem;
        border-radius: 1.5rem;
        width: 576px;
    }

    .toan-title {
        font-size: 2rem;
    }

    .toan-signup-content {
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
    }
    /* cart */

    .cart-container {
        /* justify-content: center; */
        margin-inline: 5rem;
    }
}