@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


a {
  color: #F1F6F9;
  text-decoration: none;

}

.main-news a:hover {
  /* color: white; */
  color: #F1F6F9;
  text-decoration: underline;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background: #dbd8d8;
  color: #000000;
}

.carousel-item {
  height: 27rem;
}

/*icon*/

.icons-container {
  display: flex;
  gap: 1.5rem;
  padding: 1rem 10rem;
  margin-left: 2rem;
}

.icons-container .icons {
  background: #eeeeee;
  display: flex;
  align-items: center;
  box-shadow: .2em .2em silver;
  border-radius: 0.5rem;
  padding: 1rem;
  gap: 1rem;
}

.icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #000000;
  background: #9BA4B5;
  text-align: center;
  border-radius: 50%;
}


/* intro */
section {
  padding: 5rem 10%;
  padding-right: 0.5rem;
  display: flex;
  justify-content: space-around;

}

.image {
  width: 42%;
  box-shadow: -1rem 1rem 0.5rem #393E46,
    -0.5rem 0.5rem 0.5rem #393E46;
  margin-right: 5rem
}

article .image img {
  width: 100%;
}


article .text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-right: 5rem;
}

article .text h1 {
  color: #F1F6F9;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}

article .text p {
  font-size: 1.4rem;
  font-weight: 300;
  margin: 1rem 0;
}

<<<<<<< HEAD
.thumb{
  width:100%;
=======








.thumb {
  width: 100%;
>>>>>>> b290b1533f2b2e42471ec860c38f74a8c6bc6499
}

.main-news h3 {
  line-height: 20px;
}

.main-news h3 a {
  font-size: 20px;
  font-weight: 500;
}

.img-tt {
  overflow: hidden;
  border: solid #eeeeee 1px;
  border-radius: 5px;
  padding: 5px;
}


.trang-chu-main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid var(--white-color);
  margin-inline: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
}

.trang-chu-main h2,
.trang-chu-main p {
  color: #F1F6F9;
}

.content p,
footer a,
a i {
  color: #212A3E;
}

footer a:hover {
  color: #212A3E;
  text-decoration: underline;
}
